<header class="portfolio-bg"style="background-image: url('<%= @portfolio.background.url%>');
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: #fff;
  height: 100vh;
  margin-top: -100px;">
    <div class="col-md-8 center portfolio-caption center">
      <h1><%= @portfolio.name%></h1>
    </div>
</header>
<div class="container">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <h3 class="bold mint">ROLE</h3><h4 class="thin"><%= @portfolio.role%></h4>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <h3 class="bold mint">TASKS</h3><h4 class="thin"><%= @portfolio.tasks%></h4>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <h3 class="bold mint">Website</h3><h4 class="thin"><%= @portfolio.site%></h4>
  </div>
</div>
<hr style="border-top: 2px solid #cacaca;">
<br>
<br>
<br>
<div class="container">
  <div class="col-md-12">
    <h1 class="mint bold">Product Details</h1>
    <p><%= @portfolio.description%></p>
  </div>

  <% if @portfolio.website_one.exists?%>
  <div class="col-md-12 padding-top">
    <h2 class="bold blue">Home Page</h2>
    <br>
    <%= image_tag @portfolio.website_one.url, class: "img-responsive web-img"%>
  </div>
  <%end%>
  <%if @portfolio.website_two.exists?%>
  <div class="col-md-12 padding-top">
    <h2 class="bold blue">Secondary Page</h2>
    <br>
    <%= image_tag @portfolio.website_two.url, class: "img-responsive web-img"%>
  </div>
  <%end%>
  <% if @portfolio.website_three.exists?%>
  <div class="col-md-12 padding-top">
    <h2 class="bold blue">Secondary Page</h2>
    <br>
    <%= image_tag @portfolio.website_two.url, class: "img-responsive web-img"%>
  </div>
  <%end%>
</div>


<br>
